@model IEnumerable<Compra>	
@{
    ViewData["Title"] = "Logs Compras";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-white mb-5">Logs Compras</h1>

<table class="table table-bordered table-hover table-dark">
	<thead>
	<tr>
		<th scope="col">Data</th>
		<th scope="col">Cliente</th>
		<th scope="col">ID Jogo</th>
		<th scope="col">Jogo</th>
		<th scope="col">Preço</th>
		<th scope="col">Key</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		<tr>
			<td>@item.DataCompra</td>
			<td>@item.IdCliente</td>
			<td>@item.IdJogoNavigation.Id</td>
			<td>@item.IdJogoNavigation.Nome</td>
			<td>@Decimal.Round(item.IdJogoNavigation.Preco,2) €</td>
			<td>@item.Key</td>
		</tr>
	}
	</tbody>
</table>
