@model IEnumerable<Jogo>
@{
	ViewData["Title"] = "Home Page";
}

@section Scripts{
	<script type="text/javascript" src="/js/scroll.js"></script>
}


<div hidden class="unhideme text-white p-2 mb-1 row justify-content-center text-center">
	<p>Pressione a tecla <kbd>ENTER</kbd> com a barra de pesquisa selecionada para efetuar uma pesquisa ou a tecla <kbd>ESC</kbd> para voltar para a loja</p>
	</div>
<div class="searchbar-container d-flex justify-content-center align-content-center align-items-center">
	<svg id="searchico" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="25" y1="25" x2="16.65" y2="16.65"></line></svg>
	<input class="searchbar" id="searchbar" placeholder="Pesquisar um Jogo" onfocus="onFocusSearchBar()"/>
</div>

<div hidden class="unhideme text-white p-2 mb-5 row justify-content-center text-center">
	<div class="col-sm-2 d-inline-block">
		<label for="Categorias">Categoria</label>
		<br/>
		<select id="Categorias" class="form-control form-select" asp-items='new SelectList(ViewBag.Categorias, "Id", "Nome")'>
			<option value="0">Qualquer</option>
		</select>
	</div>
	<div class="col-sm-2 d-inline-block">
	<label for="Plataforma">Plataforma</label>
		<select id="Plataforma" class="form-control form-select" asp-items='new SelectList(ViewBag.Plataformas, "Id", "Nome")'>
			<option value="0">Qualquer</option>
		</select>
			</div>
	<div class="col-sm-2 d-inline-block">
		<label for="ordenar">Ordenar Por</label>
		<select id="ordenar" class="form-control form-select">
			<option value="Popular">Mais Populares</option>
			<option value="Preco">Preço</option>
			<option value="Data">Data Lançamento</option>
		</select>
	</div>
	<div class="col-sm-2 d-inline-block">
		<label for="ordem">Ordem</label>
			<select id="ordem" class="form-control form-select">
				<option value="Desc">Descendente</option>
				<option value="Asc">Ascendente</option>
			</select>
	</div>
</div>

<div class="jogos-container row p-5">
	@foreach (var jogo in Model) {
		<!-- TEMPLATE-->
		<div class="gamecard col-sm-4 col-md-2 m-3 p-3 bg-dark text-white">
			<a asp-controller="Home" asp-action="Jogo" asp-route-id="@jogo.Id">
				<span class="gamecard-link"></span>
			</a>
			<div class="d-flex justify-content-center align-items-center">
				<img class="mb-2 img-fluid game-image" src="/img/Jogos/@jogo.Foto">
			</div>
			<p class="game-name m-1">@jogo.Nome</p>
			<div class="d-flex">
				<span class="badge rounded-pill bg-danger m-1">@jogo.IdCategoriaNavigation.Nome</span>
			</div>
			<div class="d-flex">
				<span class="badge rounded-pill bg-primary m-1">@jogo.IdPlataformaNavigation.Nome</span>
			</div>
			<div class="d-flex">
				<span class="badge rounded-pill bg-warning m-1">@jogo.IdDesenvolvedoraNavigation.Nome</span>
			</div>
			<p class="game-price m-1">@Decimal.Round(jogo.Preco, 2) €</p>
		</div>
		<!-- FIM TEMPLATE-->
	}
</div>